body {
    --font-family: Inter, sans-serif;
    --background: #c4e5ff;
    --text: #001f36;
    background: var(--background);
    color: var(--text);
    font-family: var(--font-family);
    margin: auto;
}
.navbar__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    background: var(--text);
    color: var(--background);
}
.navbar__logo--container h1 {
    cursor: pointer;
}
.navbar__subcontainer {
    display: flex;
    gap: 1vw;
}
.navbar__subcontainer--link {
    text-decoration: none;
    font-size: 1.25rem;
}
.navbar__subcontainer--link p {
    color: var(--background);
    font-weight: 800;
}
.hero__container {
    width: 80%;
    margin: auto;
    border: 5px solid var(--text);
    margin-top: 6rem;
    height: 30rem;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero__subcontainer--link button {
    background: var(--text);
    border: none;
    font-size: 8rem;
    border-radius: 25px;
    cursor: pointer;
    padding: 1rem;
    color: var(--background);
}